<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css>
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js>
  </head>
  <body>
    <div class="TopLinkTodoList">Todolist</div>
    <table>
      <th>ID</th>
      <th>ToDo</th>
      <th>Name</th>
      <th>Delete</th>
      <th>Edit</th>

      <td>1</td>
      <td>Going camp</td>
      <td>Tom</td>
      <td><link rel="stylesheet" href="">Delete</td>
      <td><link rel="stylesheet" href="">Edit</td>

    </table>
  </body>
</html>